body{
  margin: 0;
  padding: 25px;
}


a {
    display: inline;
    margin: 5px;
    font-family: fantasy;
    text-decoration: none;
    color: black;
}
header{
display: flex;
min-height: 60px;
background-color: burlywood;
justify-content: space-between;
align-items: center;
padding:15px;
}
.logo{
  display: flex;
}
.logo img{
  height: 100%;
}
nav a:hover {
  color:beige;
}
@media (max-width:700px){
  header{
    flex-direction: column;
  }
  nav{
    padding: 10px 0px;
  }
}
img{
  display: flex;
  float: left;
}
p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titulo{
text-align: right;
}
h2{
  text-align: center;
}