html, body {
    margin: 0;
    padding: 0;
}
header{
    display: flex;
 min-height: 10px;
 background-color:burlywood;
 justify-content: space-between;
  align-items: center;
padding: 10px;
}
.logo{
    display: flex;
  }
  .logo img{
    height: 100%;
  }
  nav a:hover {
    color:beige;
  }
body{
    width:100%;
    height: 100%;
    font-family: 'GFS Neohellenic', sans-serif;
    
    letter-spacing: 0.05em;
    line-height: 1.6;
}
.title1{
text-align: center;
font-size: 40px;
color: black;
margin-top:100px;
font-weight: 100;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    width: 100%;
    max-width: 1700px;
    height:480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 10px;
}
.container .card {
    width: 430px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.899);
    overflow: hidden;
    margin: 20px;
    border-image: space;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover {
transform: translateY(-15px);
box-shadow: 0 12px 16px regba(0,0,0,0.2);
}
.container .card img{
   width: 330px;
    height: 250px;
    padding: 25px;
}
.container .card h4 {
    font-weight: 600;
}
.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight:300;
}
@media (max-width:700px)
      header{
      flex-direction: column;
    }
    footer{
        background-color:blanchedalmond;
        width: 100%;
        height: 140px;
        bottom: 0;
        position:fixed;
        text-align: center;
        color: black;
    }
    a{
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: black;
    }